.header{
    background-color: var(--azul-3);
    font-family: var(--fonte-principal);
    text-align: center;
    padding: 2em;
}

.header__texto{
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
    color: var(--branco);
}