@import url("css/header.css");
@import url("css/main.css");
@import url("css/footer.css");

:root{
    --fonte-principal: 'Poppins', sans-serif;
    --preto: #333;
    --branco: #fff;
    --cinza: #B7B7B7;
    --azul: #3498db;
    --azul-bgc: #9BA4B5; 
    --azul-2: #F1F6F9;
    --azul-3: #394867;
}
